@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/* un style commun pour les panneaux de contrôle */
.panel {
  position: absolute;
  right: 10px;
  width: 200px;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 10; /* Pour être au-dessus de la carte */
}

/* Panneau 1 : Gestion des couches (Fonds + Checkboxes) */
#menu-layers {
  top: 10px;
}

/* Panneau 2 : Filtres (Radios) */
#menu-filters {
  top: 240px; /* Positionné sous le premier menu */
}

/* Espacement */
.panel h4 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

label {
  display: block;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 13px;
}

#description-projet {
  position: absolute;
  bottom: 20px; 
  right: 10px;   
  z-index: 10; /* Sinon le texte s'affiche derrière la carte */
  max-width: 400px; 
  background: rgba(255, 255, 255, 0.75); /* Cadre légèrement transparent pour laisser voir la carte derrière */
  padding: 15px;
  border-radius: 8px;
  font-size: 13px;
  line-height: 1.5;
  color: #333;
  pointer-events: auto; /* Pour que le texte soit séléctionnable */
}

/* Légende */
#legende {
  position: absolute;
  bottom: 50px; /* Un peu au-dessus de l'échelle */
  left: 10px;
  width: auto;
  min-width: 150px;
  max-width: 250px;
  z-index: 10;
}

