/*Base*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    width: 100%;
    height: 100vh;
}

/*Titre*/
h1 {
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
    margin: 0;
    padding: 10px;
    background: none;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 2px white;
    pointer-events: none;
}

/*Texte de description*/
#description-projet {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.85);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    color: #333;
    pointer-events: auto;
}

/*Popups */
.pop-borne {
    min-width: 150px;
    font-family: Arial, sans-serif;
}

.pop-title {
    color: white;
    padding: 5px;
    margin: -15px -20px 10px -20px; 
    text-align: center;
    font-weight: bold;
    border-radius: 3px 3px 0 0;
}

.pop-borne p {
    margin: 5px 0;
    font-size: 13px;
}

/*Légende*/
.info-legend {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.info-legend h4 {
    margin: 0 0 5px 0;
    font-size: 14px;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 12px;
    margin-bottom: 3px;
}

.legend-item i {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
    border: 1px solid #fff;
}

/*Échelle*/
.leaflet-bottom.leaflet-left .leaflet-control-scale {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    margin: 0;
    display: flex;
    justify-content: center;
}


.leaflet-control-scale-line {
    background: rgba(255, 255, 255, 0.8);
    border: 3px solid #333;
    border-top: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    min-width: 150px;
    height: 15px;
    line-height: 15px;
    text-align: center;
}